__pycache__
descriptions.txt
todo.txt
Calulations/descriptions.txt
Characters/descriptions.txt
Database/descriptions.txt
Functions/descriptions.txt
Functions/__pycache__
Database/__pycache__
Characters/__pycache__
Calulations/__pycache__
Main_Functions/__pycache__